.projectContainer {
  display: inline-block;
  margin: 100px;
  padding: 15px;
}

.card {
  margin: 10px;
  border: 4px solid black;
}

.card a {
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
}
a:hover {
  opacity: 65%;
  color: inherit;
}

img {
  max-width: 250px;
  max-height: 250px;
  opacity: 50%;
  padding: 15px;
}
img:hover {
  opacity: 100%;
  transition: 200ms;
}

/* add a:hover effects */
