/* .projectConatiner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
} */
/* .projectContainer .card {
  display: inline-block;
  margin: 30px;
  padding: 15px;
} */

/* .card {
  flex-wrap: wrap;
  justify-self: center;
} */

.projectCard {
  
}

img {
  max-width: 250px;
  max-height: 250px;
  opacity: 50%;
  justify-content: center;
}
img:hover {
  opacity: 100%;
  transition: 200ms;
}
/* .cardBody a {
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
} */

/* add a:hover effects */
