.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;

  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer ul li {
  display: inline-block;
  margin: 20px;
}
.footer ul li a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  opacity: 65%;
}
